<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Exemple de formulaire</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style media="screen">
      div {
        display: block;
        margin: 1rem;
      }
      form {
        width: 400px;
        margin: 100px auto;
        padding: 2rem;
        box-shadow: 1px 1px 12px 3px #ccc;
      }
      form label {
        display: inline-block;
        width: 100px;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="../ctrl/execute.afficher.php">Afficher Stagiaire</a>
            <a class="nav-link" href="../views/ajouterStagiare.html">Ajouter Stagiaire</a>
            <a class="nav-link active" href="#">Modifier Stagiaire</a>
            <a class="nav-link" href="../views/supprimerStagiaire.html">Supprimer Stagiaire</a>
          </div>
        </div>
      </div>
    </nav>





    <form class="form" action="../ctrl/execute.update.php" method="post">
      <div class="">
        <label for="nom_a_modif">Nom a modifier</label>
        <input id="nom_a_modif" name="nom_a_modif" type="text" />
      </div>

      <div class="">
        <label for="nom">Nom</label>
        <input id="nom" name="nom" type="text" />
      </div>

      <div class="">
        <label for="prenom">Prénom</label>
        <input id="prenom" name="prenom" type="text" />
      </div>

      <div class="">
        <label for="dateNaiss">dateNaiss</label>
        <input id="dateNaiss" name="dateNaiss" type="text" />
      </div>

      <input type="submit" id="submit" name="submit" value="Envoyer" />
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
